<div class="container">
	<div class="profile-img" align="center">
  		<%= image_tag (@profile.image_url.to_s) %>
	</div>
	<strong>First name:</strong>
  	<span><div class="post">
  		<%= @profile.fname %>
	</div></span>
  	<strong>Last name:</strong>
  	<div class="post">
 		<%= @profile.lname %>
	</div>
  	<strong>Address:</strong>
	<div class="post">
  		<%= @profile.address %>
	</div>
</div>