<p>
  <strong>First name:</strong>
  <%= @profile.fname %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= @profile.lname %>
</p>
<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<div class="profile-img">
  <%= image_tag (@profile.image_url.to_s) %>
</div>
