<div class="col-md-12 comments">
  <% @post.comments.each do |comment| %>
   <%= render partial: "comment", locals: {comment: comment} %>   
  <% end %>
</div>
 <%= render partial: "form" %>

<!-- Modal -->
<div class="modal" id="modal-comment">
  <div class="modal-dialog">
    <div class="modal-content">
  </div>
</div>