  <div class="col-md-12">
    <%= form_for @post do |f| %>
  <%#= form_for :post, url: posts_path do |f|  %>
  <%= f.label :Post %>
    <%= f.text_area :title, class: 'form-control', placeholder: 'Add your post here....!', required: true %><br>
    <%= f.submit class: 'form-control btn btn-primary' %>
  <% end %>
</div>
