<br>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<%= render partial: "form" %>
<hr>
<div class="col-md-12 posts" id="posts">
  <%= render partial: "posts", locals: { posts: @posts } %>
</div>
  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
<!-- <div class="clearfix"></div> -->
  <%= render partial: "form" %>
  <hr>
  <div class="col-md-12 posts" id='posts'>
    <%= render partial: "posts", locals: { posts: @posts } %>
  </div>
<!-- Modal -->
<div class="modal" id="modal-window">
  <div class="modal-dialog">
    <div class="modal-content">
  </div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function()  {
<<<<<<< HEAD
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    for (i = 0; i < post.length; i++) {
        
        if (li[0].toUpperCase().includes(input)) {
            li[i].style.display = "kkkk";
        } 
        else
         {
            li[i].style.display = "none";
        }
    }
}
)}
</script> -->
=======
    var input = $(this).val()
    $.ajax({
      data: { query: input },
      dataType: 'json',
      url: '/posts/search',
      success: function() {
      }
    });
  })
});


</script>
>>>>>>> 8dcb2d1d9c59e78edc20337f8016022172af6122
<!-- <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".posts").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script> -->

<script type="text/javascript">
  var text_max = 10;
  var str = "maximum 10 characters";

  $(document).on('keydown', '.text-content', function() {
    var text_length = $(this).val().length;
    var text_remaining = text_max - text_length;
    var count_div = $(this).parent('form').find('.count_message')
    if (text_remaining <= 0) {
      count_div.html(str.fontcolor('red'));
      if (event.keyCode == "08")
      {
        return true
      }
      else
      {
        return false
      }
    };
    count_div.html(text_remaining + ' characters');
  });
</script>
<<<<<<< HEAD
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function(){
    

      var input = $(this).val()
      $.ajax({
        data: { query: input },
        type: 'GET',
        url: '/posts/search',
        success: function() {

      }
      });
    })
  });
</script>
=======
>>>>>>> 8dcb2d1d9c59e78edc20337f8016022172af6122
