.post {
  border: 1px solid;
  box-shadow: 1px 2px 4px 1px;
  margin: 20px;
  padding: 10px 15px;
}

.comment {
  border: 1px solid;
  box-shadow: 1px 1px 2px 0px;
  margin: 20px;
  padding: 5px 10px;
}

.hide {
  display: none;
}